@charset "utf-8";

table {
    /* 罫線を表示するプロパティ（線の太さ，線のタイプ，線の色） */
    border: 1px solid #000000;
}

th {
    border: 1px solid #000000;
}

td {
     border: 1px dashed #000000; /*dashedのところはいろいろ変えることができる */
}